@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css")
layer(framework);
@import url("https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css")
layer(mapbox);

body {
    background-color: #212121;
    margin-left: 35px;
    margin-right: 35px;
    color: white;
}

header {
    margin-top: 15px;
    margin-bottom: 15px;
}

h1 {
    font-size: 60px;
}

ul {
    list-style: none;
    padding: unset;
}

nav {
    height: 50px;
    max-height: 50px;
    overflow: visible;
}

.hidden {
    display: none;
}

.page-wrapper {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

#map {
    min-height: 40dvh;
    width: 100%;
    border-radius: 10px;
    color: black;
}

.map-wrapper {
    border-radius: 10px;
}

#lt-navbar {
    max-height: inherit;
}

.search-container {
    height: 40px;
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 99;
    & form {
        height: 100%;
        width: 100%;
    }
}

.searchbar {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 30px;
    border: none;
    background-color: rgb(59, 59, 59);
    color: white;
}

.search-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 10px;
    border: none;
}

div.row {
    z-index: 0;
}

#suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: scroll;
}

#suggestions-list li {
    background-color: rgb(59, 59, 59);
    padding: 5px;
    cursor: pointer;
}

#suggestions-list li:hover {
    background-color: #8d8d8d;
}

.time-wrapper {
    padding-left: 10px;
}

.container {
    margin: 0;
}

.weather-card {
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    background-color: #527fd3;
}

.card {
    color: white;
}

.card-footer {
    display: flex;
    & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
}

#user-location {
    margin: 0;
}

#lt-navbar-content {
    width: 100%;
}
